{{# each products}}  
    
<div class="row">
    
    {{# each this}}
    
      <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 18rem;">
        <img class="card-img-top img-responsive" src="{{ this.imagePath }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text description">{{this.description}}</p>
            <div style="float:left; width:50%" class="price">
               12 $
            </div>
            <div class="text-right ">
                <a href="#" class="btn btn-success ">Buy for {{this.price}} $</a>
            </div>
            
            
        </div>
    </div>     
    </div>
    
    {{/each}}
  

</div>
   
{{/each}}

